<configuration>
    <property name="LOG_DIR" value="./log" />
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %red(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/College_Recommender-log.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/College_Recommender-log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>1KB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>5KB</totalSizeCap>
        </rollingPolicy>

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.txt</fileNamePattern>-->

<!--            &lt;!&ndash; keep 30 days' worth of history capped at 3GB total size &ndash;&gt;-->
<!--            <maxHistory>30</maxHistory>-->
<!--            &lt;!&ndash; delete old log files when total size of log files exceed 100MB&ndash;&gt;-->
<!--            <totalSizeCap>100MB</totalSizeCap>-->
<!--        </rollingPolicy>-->

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level- %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.mkyong" level="debug" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <root name= "root" level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>
</configuration>